mixin songForm(song = {})
  form(action=`/add/${song._id || ''}` method="POST" enctype="multipart/form-data")
    .form-group
      label(for="title") Title
      input(type="text" name="title" class="form-control" value=song.title required)
    .form-group
      label(for="artist") Artist
      input(type="text" name="artist" class="form-control" value=song.artist && song.artist.name required)
    .form-group
      label(for="key") Key
      select(name="key" class="form-control" class="form-control")
        each key in h.keys
          option #{key}
    .form-group
      label(for="chord") Chord
      input(type="file" name="chord" id="chord" class="form-control-file" accept="application/pdf")
    .form-group
      label(for="video") Video
      input(type="text" name="video" class="form-control")
    button(type="submit" class="btn btn-primary") Save